<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "logo.png" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Dodi Sabaruddin</h1>
    <p>Welcome to my blog -- that I build with Ruby on Rails for just few hours! Cool isn't it.</p>
  </div>
</div>
